@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

body {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}


.button-title {
    width: 300px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    border: 1px #ffffff;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.345em;
    color: #000000;
    text-decoration: none;
}

.button-title-selected {
    width: 300px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.7);
    border-radius: 18px;
    border: 1px #ffffff;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.345em;
    color: #000000;
    text-decoration: none;
}

.button-title:hover {
    box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.4);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    height: 150px;
}

.search input {
    border: 1px #ffffff;
    box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    padding: 5px;
}

.search input:focus {
    box-shadow: 0px 4px 16px -3px rgba(0, 0, 0, 0.5);
    border: none;
}

*:focus {
    outline: none;
}

.searchbar {
    width: 35%;
    height: 30px;
    margin: 20px;
}

.search-level {
    height: 30px;
    width: 10%;
    margin: 20px;
}

.search-type {
    height: 30px;
    width: 10%;
    margin: 20px;
}

.data-container {
    display: flex;
    width: 80%;
    margin: auto;
    top: 255px;
    height: 300px;
    flex-flow: row wrap;
    justify-content: space-around;
}

.data {
    display: flex;
    flex: 0 0 30%;
    margin: 24px;
    background: #ffffff;
    box-shadow: 0px 4px 20px -3px rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.data:hover {
    box-shadow: 0px 4px 20px -3px rgba(0, 0, 0, 0.4);
}

.pok-infos {
    display: flex;
    align-items: top;
    width: 300px;
    height: 100px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.pok-title {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
}

.pok-info-id {
    font-weight: 750;
    font-size: 17px;
    color: #9E9E9E;
    margin: 5px;
}

.pok-info-name {
    font-weight: 750;
    font-size: 17px;
    color: #000000;
    margin: 5px;
}

.pok-type {
    display: flex;
    width: 100%;
    justify-self: center;
    align-items: top;
    justify-content: center;
}

.pok-info-type {
    border-radius: 18px;
    margin: 5px;
    padding: 10px;
    height: 15px;
    text-align: center;
    color: #000000;
}

.pok-info-notliked {
    background: url('img/coeur_vide.png') no-repeat;
    background-size: contain;
    height: 26px;
    width: 30px;
    border: none;
    align-self: flex-end;
    margin: auto;
    margin-left: 60%;
}

.pok-info-liked {
    background: url('img/coeur_plein.png') no-repeat;
    background-size: contain;
    height: 26px;
    width: 30px;
    border: none;
    align-self: flex-end;
    margin: auto;
    margin-left: 60%;
}

.pok-info-like:focus {
    border: none;
}

.pok-info-more {
    background: url('img/plus_vide_.png') no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 10%;
}

.pok-info-more:hover {
    background: url('img/plus_plein_.png') no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    border: none;
    margin-left: 10%;
}

.grass {
    background-color: #b7db73
}

.poison {
    background-color: #9fff88;
}

.fire {
    background-color: #fec967;
}

.flying {
    background-color: #53cea9ab;
}

.water {
    background-color: #62b5f2;
}

.bug {
    background-color: #77b9d9;
}

.normal {
    background-color: #fa7c7c;
}

.electric {
    background-color: #77e6f9;
}

.ground {
    background-color: #c5ad9e;
}

.fighting {
    background-color: #ff79bc;
}

.psychic {
    background-color: #bf93d2;
}

.rock {
    background-color: #aaa79f;
}

.steel {
    background-color: #b6b6b6d8;
}

.ice {
    background-color: #8edcf3;
}

.ghost {
    background-color: #56f1d2;
}

.dragon {
    background-color: #ebda40;
}

.img-data {
    position: relative;
    width: 126px;
    height: 117px;
    border-radius: 18px;
}

.pok-modal {
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    position: relative;
    z-index: 10;
    margin: auto;
    border-radius: 5px;
    max-width: 500px;
    width: 80%;
    padding: 1rem;
    justify-content: space-around;
    margin: auto;
}

.pok-info-buttonModal {
    background: url('img/plus_vide_.png') no-repeat;
    background-size: contain;
    transform: rotate(45deg);
    position: absolute;
    left: 90%;
    height: 40px;
    width: 40px;
    border: none;
    margin: auto;
}

.pok-info-buttonModal:hover {
    background: url('img/plus_plein_.png') no-repeat;
    background-size: contain;
    position: absolute;
    transform: rotate(45deg);
    height: 40px;
    width: 40px;
}

.pok-modal-background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);
}

.pok-info-stats {
    display: flex;
    flex-flow: wrap;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
}

.pok-modal-title {
    display: flex;
}

.modal-icone-attack {
    background: url('img/sword.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    float: left;
    margin: 10px;
}

.modal-icone-hp {
    background: url('img/coeur_plein.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}

.modal-icone-defense {
    background: url('img/shied.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}

.modal-icone-spattack {
    background: url('img/spattack.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}

.modal-icone-spdefense {
    background: url('img/spdefense.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}

.modal-icone-speed {
    background: url('img/speed.png') no-repeat;
    background-size: contain;
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}


@media screen and (max-width: 500px) {
    .header {
        height: 200px;
    }
    .searchbar , .search-type, .search-level {
        margin: 5px;
        min-width: 80px;
    }
    .button-title-selected , .button-title-selected {
        margin: auto;
    }
    .pok-infos {
        width: 150px;
    }
    .pok-info-more , .pok-info-more:hover {
        margin-right: 30%;
    }
    .pok-info-liked , .pok-info-notliked {
        margin-left: 10%;
    }
    .pok-info-buttonModal , .pok-info-buttonModal:hover {
        left: 85%;
    }
    .pok-info-stats {
        
    }
}